.tools/
bin/
vendor/
build/
.idea/
.vscode/
coverage.txt
coverage.out
*.exe
*.exe~
*.dll
*.so
*.dylib
*.db
*.db-journal
*.mmdb
*.test
*.out
.env

example/react/dist/
example/react/node_modules/

react-sdk/ui-transport/dist/
react-sdk/ui-transport/node_modules/

react-sdk/ui-core/dist/
react-sdk/ui-core/node_modules/

react-sdk/ui-react/node_modules/
react-sdk/ui-react/dist/